<div class="container-fluid pt-0 pt-lg-5 ">
    <h2>¿Qué tenemos para ti?</h2>
    <div class="justify-content-center row">
        <div id="border"></div>
    </div>
    <div class="justify-content-center row">
        <p class="text1">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</p>
    </div>
    <div class="justify-content-center row">
        <div class="col-12 col-md-2">
            <div class="card typepink">
                <img src="../../../assets/cirujano4k.jpg" class="card-img-top pr-3 pt-3 pl-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title m-1">Cirugía estética</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-2">
            <div class="card typegreen">
                <img src="../../../assets/cirujano4k.jpg" class="card-img-top pr-3 pt-3 pl-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title m-1">Cirugía general</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-2">
            <div class="card typepink">
                <img src="../../../assets/cirujano4k.jpg" class="card-img-top pr-3 pt-3 pl-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title m-1">Descartables</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-2">
            <div class="card typegreen">
                <img src="../../../assets/cirujano4k.jpg" class="card-img-top pr-3 pt-3 pl-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title m-1">Otorrino</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>


    <div style="height: 1000px;"></div>

</div>