<div style="margin-top: -55px; margin-bottom: 200px">
    <div class="circle"></div>
    <div class="container-fluid content">
        <div class="textt">
            <h1>INSUMOS DE CALIDAD</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <div class="row">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-primary mt-1 mt-lg-0" style="height: 50PX;width: 100%;">
                        IR A PRODUCTOS
                    </button>
                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-primary mt-1 mt-lg-0" style="height: 50PX;width: 100%;">
                        CONTÁCTENOS
                    </button>
                </div>
            </div>
            <div class="row justify-content-center mt-lg-3">
                <div class="col-sm-8">
                    <button type="button" class="btn btn-primary mt-1 mt-lg-0" style="height: 50PX;width: 100%;">
                        ¡PIDE TU PRESUPUESTO YA!
                    </button>
                </div>
            </div>
            <div class="row justify-content-center mt-lg-4" style="font-weight: bold; text-align: center">
                <div class="col-sm-2 mt-1 mt-lg-0">
                    Facebook
                </div>
                <div class="col-sm-2 mt-1 mt-lg-0">
                    Twitter
                </div>
                <div class="col-sm-2 mt-1 mt-lg-0">
                    Instagram
                </div>
            </div>
        </div>
        <div class="img d-none d-lg-block">
        </div>
    </div>
    <div class="square d-none d-lg-block"></div>
</div>
