.form-control{ 
    border-radius: 15px; 
    background-color: var(--secondary);
    height: 50px;
}

.form-group{ 
    
    height: 40px;
}

#message{
    height: 130px;
}

.btn-primary{
    margin-top: 80px;
    border-radius: 8px;
    width: 110px;
    text-align: center;
}

.text2{
    text-align: center;
}

.text1 {
    text-align: center;
    margin-top: 10px;
    font-style: italic;
    font-size: 80%;
    font-weight: 800;
}


#border {
    width: 260px;
    border-top: solid var(--primary) 4px;
    margin-top: -4px;
}

#logo{
    background-image: url("../../../assets/logoRedondoEstetica.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    float: right;
    border-radius: 25%;
    opacity: 0.2;
    padding: 0 20px;
}

.adress {
    opacity: 1;
    font-weight: 800;
    text-align: center;
}

.email {
    opacity: 1;
    font-weight: 800;
    text-align: center;
}

.tlf {
    opacity: 1;
    font-weight: 800;
    text-align: center;
}

.slogan {
    opacity: 1;
    font-weight: 600;
    text-align: center;
    font-size: 250%;
    color: var(--primaryHover);
}
