<div class="container-fluid pt-0 pt-lg-5 ">
    <div class="justify-content-center row">
        
        <div class="col-12 col-md-4" style="min-height: 340px;">
            <div id="logo" style="position: absolute; top:0; left: 0; width: 100%; height: 100%; z-index: -5;"></div>
            <div class="row" style="height: 100%;">
                <div class="justify-content-center row align-self-center"> 
                    <div class="col-12">
                        <p class="slogan"><i>"Su factor de servicio"</i></p>
                    </div>
                    <div class="col-12">
                        <p class="adress">Direccion: 9079 North Maiden Dr. Zanesville, OH 43701</p>
                    </div>
                    <div class="col-12">
                        <p class="email"> Email: productos@medical.com</p>
                    </div>
                    <div class="col-12">
                        <p class="tlf"> Telefono: +584249404684</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mt-md-5">
            <h2 class="text2">Dejanos un mensaje</h2>
            <div class="justify-content-center row">
                <div id="border"></div>
                <p class="text1">Contrary to popular belief, Lorem Ipsum is not simply random text.</p> 
            </div>
            <form>
                <div class="form-group">
                    <input type="email" class="form-control" id="nombre" placeholder="Nombre">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="correo" placeholder="Correo electronico">
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="message" placeholder="Mensaje..."></textarea>
                </div>
            </form>
            <div class="justify-content-center row">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
            <div style="height: 70px;"></div>
        </div>
    </div>
</div>
